body {
  height: 100%;
  font-family: 'Grand Hotel', cursive;
  background-image: url(/img/montanas-en-patagonia-argentina-4273.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}